* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0eeff;
  font-family: sans-serif;
}

.App {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 30px;

  .title {
    height: 80px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    width: 100%;
    padding: 23px 25px;
    border-bottom: 1px solid #cccccc;
    text-transform: capitalize;
  }

  // general style of labels
  label {
    height: 70px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 25px;

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #303940;
      text-transform: capitalize;
    }
    select,
    input {
      background: #ffffff;
      border: 1px solid #e5e9eb;
      box-sizing: border-box;
      border-radius: 6px;

      padding: 8px 16px;
      font-family: sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.006em;
      color: rgba(48, 57, 64, 1);
      outline: none;
    }
  }

  li {
    list-style: none;
  }

  .btn {
    width: 160px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    padding: 8px 16px;
    border: 1px solid #e5e9eb;
    border-radius: 6px;
    color: #0067f4;
  }

  .btn.save {
    background: #0067f4;
    color: #fff;
    margin-left: 15px;
  }

  .form-control {
    width: 100%;
    max-width: 1380px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25);

    .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 60px 30px;
      padding: 25px 25px 60px;

      @media screen and (max-width: 1240px) {
        flex-wrap: nowrap;
      }

      .form__jobType,
      div {
        width: 650px;
        // width: 50%;
        height: 300px;
        border-radius: 20px;
        box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25),
          -3px -6px 20px -5px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @media screen and (max-width: 1440px) {
          width: 600px;
        }

        @media screen and (max-width: 1340px) {
          width: 550px;
        }

        @media screen and (max-width: 1240px) {
          width: 50%;
        }
      }

      .users__info {
        height: 650px;
      }

      .rightDivWrapper {
        height: 650px;
        box-shadow: none;
        justify-content: space-between;

        @media screen and (max-width: 1240px) {
          // width: 50%;
          // width: 100%;
        }

        .work__details {
          @media screen and (max-width: 1240px) {
            width: 100%;
          }

          .select-wrapper {
            width: 100%;
            box-shadow: none;
            display: flex;
            flex-direction: row;
          }
        }

        .form__jobType {
          display: flex;
          label {
            margin-top: 30px;
          }

          @media screen and (max-width: 1240px) {
            width: 100%;
          }
          .btns__wrapper {
            box-shadow: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            padding: 0 25px;
            margin-top: 55px;
            border: none;
          }
        }
      }
    }

    .btns__wrapper {
      width: 100%;
      display: flex;
      padding: 12px 16px;
      justify-content: flex-end;
      border-top: 1px solid #cccccc;

      
      .repo {
        color: red;
        font-size: 30px;
        // text-decoration: none;
        // position: absolute;
        // top: 0;
        transform: translateX(-50%);
    
      }
    }
  }

  .form-output {
    margin-top: 30px;

    span {
      box-shadow: inset 1px 1px 0px #e5e9eb, inset -1px -1px 0px #e5e9eb;
      background: #ffffff;
      padding: 12px;
      min-height: 48px;
      max-height: 48px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.006em;
      color: #1a2024;
      text-align: center;
    }

    .numberCell,
    .emptyCell {
      width: 48px;
    }

    .emptyCell {
      color: red;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        border: 1px solid #e5e9eb;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 8px;
      }
    }

    .fullNameCell,
    .dateOfBirthCell,
    .phoneCell,
    .jobTypeCell {
      width: 160px;
    }

    .emailCell {
      width: 220px;
    }

    .companyNameCell {
      width: 136px;
    }

    .label,
    .experienceCell {
      width: 155px;
    }

    .usersListDiv {
      width: 100%;
      height: 100%;
      max-width: 1380px;
      max-height: 375px;
      margin: 0 auto;
      background: #fff;
      box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.25);
      border-radius: 20px;

      .users__list {
        padding: 50px 30px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .labels {
          margin-bottom: 25px;
          display: flex;
        }

        .users__list-item {
          display: flex;
          align-items: center;

          .dateOfBirthCell,
          .emailCell {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #303940;
          }
        }
      }
    }

    .jobTypeDiv {
      margin-top: 50px;
      width: 373px;
      height: 375px;
      background: #ffffff;
      box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.25);
      border-radius: 20px;


      .jobType__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .jobType__wrapper-label {
          display: flex;
          margin: 50px 0 25px;
        }

        .jobType__wrapper-item {
          display: flex;
        }
      }
    }
  }

  
}
